.App 
  text-align: center

@mixin container
  background-color: #282c34
  min-height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  font-size: calc(10px + 2vmin)
  color: white

.stopwatch
  @include container

.stopwatch-buttons
  flex-direction: row
  align-items: center
  justify-content: center

.App-logo 
  animation: App-logo-spin infinite 20s linear
  height: 40vmin
  pointer-events: none

.App-link 
  color: #61dafb


@keyframes App-logo-spin 
  from 
    transform: rotate(0deg)
  
  to
    transform: rotate(360deg)
  

